.header {
    column-gap: 10px;
    padding-right: 15px;
    border-bottom: 1px solid hotpink;
    border-right: 1px solid hotpink;
    background-color: black;
}
body {
    background-color: black;
    color: white;
}
.sidebar {
    width: 120px;
    margin: 5px;
    top: 62px;
    align-self: flex-start;
    align-items: start;
    row-gap: 5px;
}
.register_choice {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px;
    column-gap: 40px;
}
.register_button {
    background-color: hotpink;
    color: aliceblue;
    padding: 12px;
    border-radius: 17px;
}
.login_choice {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px;
    column-gap: 40px;
}
.login_button {
    background-color: hotpink;
    color: aliceblue;
    padding: 12px;
    border-radius: 17px;
}
.manager_list {
    margin-right: 50px;
}
.manager_reg_form {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}
.container_bod {
    display: flex;
    align-items: center;
    justify-content: center;
}