.header {
    column-gap: 10px;
    padding-right: 15px;
    border-bottom: 1px solid hotpink;
    border-right: 1px solid hotpink;
    border-left: 1px solid hotpink;
    background-color: black;
}
body {
    background-color: black;
    color: white;
}
.register_choice {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px;
    column-gap: 40px;
}
.register_button {
    background-color: hotpink;
    color: aliceblue;
    padding: 12px;
    border-radius: 17px;
}
.login_choice {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px;
    column-gap: 40px;
}
.login_button {
    background-color: hotpink;
    color: aliceblue;
    padding: 12px;
    border-radius: 17px;
}
.manager_list {
    display: flex;
    margin-right: 50px;
    justify-self: flex-start;
}
.manager_reg_form {
    display: flex;
    flex-direction: column;
}
.employee_reg_form {
    display: flex;
    flex-direction: column;
}
.child-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    text-align: justify;
}
.register_manager {
    max-width: 50%;
    margin-left: 25%;
}
.register_employee {
    margin-left: 30%;
}
.employee_log_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.manager_log_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.login_container {
    display: grid;
}
.dash {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 5%; 
}
.manager_edit_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.employee_edit_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.edit_employee {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.edit_manager {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.transaction_choice {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px;
    column-gap: 40px;
}
.transactions_button {
    background-color: hotpink;
    color: aliceblue;
    padding: 12px;
    border-radius: 17px;
}
.transaction {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.transactions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.employees_button {
    background-color: hotpink;
    color: aliceblue;
    padding: 12px;
    border-radius: 17px;
}
.show_employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 50px;
    column-gap: 40px;
    width: 50%;
}
.transaction_button {
    background-color: hotpink;
    color: aliceblue;
    padding: 12px;
    border-radius: 17px;
    width: 50%;
}

.table_button {
    background-color: hotpink;
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 19px;
    padding-right: 19px;
}

.delete_container {
    display: grid;
}

.delete_button {
    background-color: hotpink;
    color: aliceblue;
    padding: 12px;
    border-radius: 17px;
}

.delete_manager {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.delete_employee {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.employee_container {
    display: flex;
}

.vstack {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .hstack {
    display: flex;
    margin-left: 0px;
  }
  
  .sidebar-container {
    justify-self: start;
    align-self: start;
    width: 250px; /* Adjust the width as needed */
    flex-shrink: 0;
  }
  
  .content-container {
    flex-grow: 1;
  }
  
  .sidebar {
    height: 100%; /* Set the sidebar height to 100% of the parent container */
    max-width: 125px;
    overflow-y: auto;
    border-right: 1px solid hotpink;
    color: aliceblue;
  }