.header {
    column-gap: 10px;
    padding-right: 15px;
    border-bottom: 1px solid hotpink;
    border-right: 1px solid hotpink;
    border-left: 1px solid hotpink;
    background-color: black;
}
body {
    background-color: black;
    color: white;
}
.register_choice {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px;
    column-gap: 40px;
}
.register_button {
    background-color: hotpink;
    color: aliceblue;
    padding: 12px;
    border-radius: 17px;
}
.login_choice {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px;
    column-gap: 40px;
}
.login_button {
    background-color: hotpink;
    color: aliceblue;
    padding: 12px;
    border-radius: 17px;
}
.manager_list {
    display: flex;
    margin-right: 50px;
    justify-self: flex-start;
}
.manager_reg_form {
    display: flex;
    flex-direction: column;
}
.employee_reg_form {
    display: flex;
    flex-direction: column;
}
.child-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    text-align: justify;
}
.register_manager {
    max-width: 50%;
    margin-left: 25%;
}
.register_employee {
    margin-left: 30%;
}
.employee_log_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.manager_log_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.login_container {
    display: grid;
}
.dash {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 5%; 
}